/* fonts -----------------------------------------------------------------------------------------*/
h1, h2, h3 {
  color: #819CBB;
}

h1.title {
  font-size: 50px;
  font-weight: bolder;
  color: #819CBB;
}

h1 {
  font-weight: bolder;
}

h2 {
  font-weight: bolder;
}

h3 {
  font-weight: bolder;
}

h4{
  font-weight: bolder;
}

p.subtitle {
  font-style: italic;
  color: #808080;
}

.author {
  margin-bottom: 0;
}


/* block quotes*/
.blockquote {
  font-size: 1em;
  color: #819CBB;
  border-left-color: #819CBB;
}


/* tooltips --------------------------------------------------------------------------------------*/
.hovertip {
  color: #819CBB;
  font-weight: bold;
  cursor: help;
  border-bottom: 2px dotted;
}

.tooltip-inner {
  background-color: #E7F1FF !important;
  color: black;
  border: .2em solid #819CBB;
  font-weight: bold;
}

.tooltip.show {
  opacity: 1;
}



/* code ------------------------------------------------------------------------------------------*/
/* inline code */
.code {
  border-radius: 5px;
  color: #819CBB !important;
}

.code .solution {
  border-radius: 5px;
  color: grey;
}

/* callouts --------------------------------------------------------------------------------------*/
/* general */ 
.callout {
  border-radius: 5px;
}

.callout-header {
  color: white;
  font-size: 1.25em !important;
}

.callout.callout-style-default:not(.no-icon) div.callout-icon-container {
  padding-top: 0em !important;
}


/* notes and tips */
div.callout-note.callout-style-default > .callout-header,
div.callout-tip.callout-style-default > .callout-header {
  background-color: #819cbb;
}

div.callout-note.callout, div.callout-tip.callout {
  border-left-color: #819cbb;
  background-color: #e7f1ff;
}

div.callout-note.callout-titled .callout-icon::before {
  background-image: url("img/icons/info.svg");
  background-size: 100%;
}


div.callout-tip.callout-titled .callout-icon::before {
  background-image: url("img/icons/best.svg");
  background-size: 100%;
}

/* important points */
div.callout-important.callout-style-default > .callout-header {
  background-color: #616161;
}

div.callout-important.callout {
  border-left-color: #616161;
  background-color: #EEEEEE;
}

div.callout-important.callout-titled .callout-icon::before {
  background-image: url("img/icons/important.svg");
  background-size: 100%;
}



/* action-box ------------------------------------------------------------------------------------*/
div.setup, div.write, div.look {
  border-radius: 5px;
 	padding: 1em;
 	padding-left: 110px;
 	min-height: 100px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
 	background-size: 100px auto;
 	background-repeat: no-repeat;
 	background-position: left;
 	background-color: #FEFCF7;
 	border: solid 1px #E4DCCC;
  border-left: solid 5px #635A38;
}

div.setup > p, div.write > p, div.look > p {
  margin: 0px;
}

div.setup {
  background-image: url("img/icons/setup_bg.svg")
}

div.write {
  background-image: url("img/icons/code_bg.svg")
}
div.look {
  background-image: url("img/icons/eye_bg.svg")
}

/* TOC styling -----------------------------------------------------------------------------------*/
h2#toc-title{
  font-weight: 700;
}

.hoverinfo {
  font-weight: bolder;
  color: #819CBB;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #819cbb;
}

.nav-pills .nav-link {
  color: #819cbb;
}

.sidebar nav[role=doc-toc] ul > li > a.active,
.sidebar nav[role=doc-toc] ul > li > ul > li > a.active {
  border-left: #94854d;
  color: #94854d !important;
}

